@import "main";

.hero {
  background-image: url("/img/adej-pessoas.jpg");
  background-size: cover;
  background-position: center;
}

.hero-body {
  background-color: rgba(0, 13, 19, 0.8);
}

.section p {
  a {
    color: $azul;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: $amarelo;
  }
}

#historia {
  .image img {
    border-radius: 10px;
    background-color: aqua;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#cards-servicos {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-footer {
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  background-color: $azul;
}

.card-footer:hover {
  background-color: $azul-hover;
}

.card-footer-item {
  color: #fff;
}

#ajuda {
  .image img {
    border-radius: 10px;
    background-color: aqua;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  #botao .button{
    width: 100%;
  }
}